.tree-landing-page {
  position: relative;
  /* width: 100%; */
  max-width: 600px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.tree-landing-page__title-logo {
  margin-bottom: 10px;
}

.tree-landing-page__start-button {
  margin-top: 30px;
  width: 80%;
}

.tree-landing-page__text-content {
  margin-top: 34px;
  width: 85%;
}

.tree-landing-page__people-count {
  font-size: 3.5rem;
  color: white;
  -webkit-text-fill-color: rgba(100, 100, 100, 0); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  font-family: 'SDFONT_8230-0';
}

.tree-landing-page__feed-button {
  margin-top: 10px;
  max-width: 80%;
}

.tree-landing-page__main-content {
  max-height: 40%;
}
