.tree-landing-page {
  width: 100%;
  height: 100%;
}

/* @media only screen and (min-width: 768px) {
  .tree-landing-page {
    max-width: 768px;
  }
} */

.tree-landing-page__top-logo {
  width: 56%;
  margin-left: 22%;
  margin-right: 22%;
  margin-top: 15%;
}

.tree-landing-page__people-count-wrapper {
  font-weight: 400;
}

.tree-landing-page__people-count {
  font-size: 1.5em; 
  font-weight: 350;
}

.tree-landing-page__main-logo {
  position: relative;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.tree-landing-page__content {
  font-weight: 350;
  margin-top: 10%;
}

.tree-landing-page__start-button {
  width: 82%;
  margin-left: 9%;
  padding: 32px 0;
  background: linear-gradient(90deg, #0E57FF 2%, #00CAFF 100%);
  border: 1px solid #FFFFFF;
  font-size: 1.15em;
  margin-top: 5%;
}

.tree-landing-page__start-button__gt {
  /* TODO: 우측 정렬 적용 필요 */
  text-align: right;
}

.tree-landing-page__sparkle-bg {
/* TODO: height 자동으로 계산되도록 수정 필요 */
/* TODO: z-index로 인해 안보이는 문제 수정 필요 */
  width: 86%;
  height: 60%;
  background-image: url('./sparkle.png');
  background-repeat: no-repeat;
  background-size: 90%;
  position: absolute;
  top: 7%;
  left: 10%;
  z-index: -1;
}