.tree-landing-page {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.tree-landing-page__title-logo {
  margin-top: 20px;
  margin-bottom: 100px;
}

.tree-landing-page__start-button {
  margin-top: 20px;
}
