.tree-button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.tree-button-source {
  position: relative;
  width: 100%;
  background: linear-gradient(to right, #0E57FF, #00CAFF);
  border: solid 1px #FFFFFF;
  box-sizing: border-box;
  font-size: calc(8px + 2vmin);
  font-weight: 600;
  padding: calc(12px + 2vmin) 0;
  margin-top: calc(17px + 2vmin);
}

.save-paper {
  background: linear-gradient(82.21deg, #1BCB9B 0%, #65E4EC 100%);
}

.reduce-trash {
  background: linear-gradient(82.21deg, #0099F9 0%, #29EBFF 98%);
}

.save-energy {
  background: linear-gradient(82.21deg, #0E57FF 2%, #00CAFF 100%);
}

.use-basket {
  background: linear-gradient(82.21deg, #6D10F9 0%, #D851F9 100%);
}

.use-elec-receipt {
  background: linear-gradient(82.21deg, #E90EF9 0%, #FF8AEC 100%);
}

.share-instagram {
  background: linear-gradient(90deg, #0E57FF 2%, #00CAFF 100%);
}