.tree-button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.tree-button.start-to-join {
  width: 320px;
}

.tree-button-source {
  width: 320px;
}
