.tree-creation-page {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.tree-creation-page__header {
  position: relative;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2vh;
}

.tree-creation-page__header__back-button {
  position: relative;
  left: 50px;
}
.tree-creation-page__header__confirm-button {
  position: relative;
  right: 50px;
}

.tree-creation-page__creating-box {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 100%;
  border-radius: 20px;
  padding: 26px;
  box-sizing: border-box;
}

.image-capture-area {
  margin-top: 3vh;
  width: var(--image-size);
  height: var(--image-size);
}

.creating-control-box {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.creating-control-box__menu {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 2vh;
  flex-direction: row;
  align-items: center;
  padding-bottom: 2vh;
  border-bottom: 1px solid gray;
}

.creating-control-box__menu__item {
  display: inline-flex;
  width: 14vw;
}

.creating-control-box__colors {
  display: inline-flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin: 2vh 0 2vh;
}

.creating-control-box__colors__item {
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  border: 0.3vw solid #0A13FF;
}

.color-red {
  background-color: #FF3B00;
}

.color-orange {
  background-color: #FF8B00;
}

.color-yellow {
  background-color: #FFFF57;
}

.color-green {
  background-color: #00FF55;
}

.color-white {
  background-color: #FFFFFF;
}

.color-blue {
  background-color: #09B3FF;
}

.color-pink {
  background-color: #FF7DC4;
}

.color-purple {
  background-color: #E343FF;
}

.creating-control-box__styles {
  display: inline-flex;
  width: 100%;
  height: 100%;
}

.tree-styles-box {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

.tree-styles-box__row {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2vh;
}

.tree-styles-box__row:last-child {
  margin-bottom: 0;
}

.creation-page__content {
  font-size: 1.6rem;
  margin-bottom: 50px;
}

.creation-page__content-wrap {
  width: 100%;
}

.creation-page__container.container {
  padding-bottom: 8vw;
  height: auto;
}