.tree-creation-page {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.tree-creation-page__header {
  position: relative;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2vh;
}

.tree-creation-page__header__back-button {
  position: relative;
  left: 50px;
}
.tree-creation-page__header__confirm-button {
  position: relative;
  right: 50px;
}

.tree-creation-page__creating-box {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
  width: calc(100% - 14vw);
  height: calc(100% - 100px);
  border-radius: 40px;
  margin-top: 1vh;
  margin-bottom: 5vh;
  padding-top: 3vh;
}

.image-capture-area {
  margin-top: 3vh;
  width: var(--image-size);
  height: var(--image-size);
}

.creating-control-box {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 60px);
}

.creating-control-box__menu {
  display: inline-flex;
  width: 90%;
  justify-content: space-between;
  margin-top: 20px;
  flex-direction: row;
  padding-bottom: 14px;
  border-bottom: 1px solid gray;
}

.creating-control-box__menu__item {
  display: inline-flex;
  width: 12vw;
  margin-top: 0.6vh;
  margin-bottom: 0.6vh;
}

.creating-control-box__colors {
  display: inline-flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

.creating-control-box__colors__item {
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  border: 0.3vw solid #0A13FF;
}

.color-red {
  background-color: #FF3B00;
}

.color-orange {
  background-color: #FF8B00;
}

.color-yellow {
  background-color: #FFFF57;
}

.color-green {
  background-color: #00FF55;
}

.color-white {
  background-color: #FFFFFF;
}

.color-blue {
  background-color: #09B3FF;
}

.color-pink {
  background-color: #FF7DC4;
}

.color-purple {
  background-color: #E343FF;
}

.creating-control-box__styles {
  display: inline-flex;
  width: 100%;
  height: 100%;
}

.tree-styles-box {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

.tree-styles-box__row {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 2vh;
}
