
.tree-icon {
  
}

.tree-icon.current-member-count {
  margin-top: 3vh;
  width: 60vw;
}

.tree-icon.check-button,
.tree-icon.left-arrow {
  width: 7vw;
}

.tree-icon.logo {
  width: 280px;
}

.creating-box-icon {
  width: 800px;
}
