.container {
    height: 100%;
    margin: 0 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 94px;
    box-sizing: border-box;
}

.top-title {
    width: 84%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 30px;
    z-index: 500;
}

.back-button {
    width: 34px;
    min-width: 34px;
}

.top-title-logo {
    width: 180px;
    height: 34px;
    filter: drop-shadow(0 3px 20px rgba(4, 10, 161, 0.3));
}

.top-title-right {
    width: 34px;
}

.top-title-check-button {
    width: 28px;
}

.page__next-btn-wrap {
    width: 84%;
    position: fixed;
    bottom: 8vw;
}

.page__next-btn {
    position: relative;
    width: 100%;
    background: linear-gradient(to right, #0E57FF, #00CAFF);
    border: solid 1px #FFFFFF;
    box-sizing: border-box;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 20px;
}

.page__next-btn__icon {
    width: 20px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);       
    right: 20px;
}

.page__content-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 24px;
  }
  
  .page__content-title p {
    margin: 0 14px;
  }
  
  .page__content-title-sparkle {
    width: 10px;
  }