.tree-delivery-page {
  position: relative;
  width: 100%;
  max-width: 1000px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.tree-delivery-page__header {
  position: relative;
  width: 100%;
  height: 5vh;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}

.tree-delivery-page__header__back-button {
  position: absolute;
  left: 50px;
}

.tree-delivery-page__main-content {
  width: 60%;
  margin-top: 5%;
}

.tree-delivery-page__image-box {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: white;
  width: calc(100% - 14vw);
  height: fit-content;
  border-radius: 40px;
  margin-top: 1vh;
  margin-bottom: 2vh;
  padding-top: 3vh;
}

.tree-delivery-page__image-guide {
  position: relative;
  width: 50%;
  height: 5%;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
}

.tree-delivery-page__instagram-button {
  position: relative;
  width: 100%;
  height: 8%;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.tree-delivery-page__feed-button {
  margin-top: 10px;
}

.tree-delivery-page__popup-modal {
  width: 90%;
  max-width: 90%;
  height: 90%;
  max-height: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tree-delivery-page__popup-modal_img {
  width: 100%;
  margin-top: 20%;
}

.tree-delivery-page__custom-image {
  width: var(--image-size);
  height: var(--image-size);
}
.tree-delivery-page__tag-texts {
  width: var(--image-size);
  margin-top: 3vh;
  margin-bottom: 3vh;
}


.tree-delivery-page__button-wrapper {
  position: relative;
  width: 90%;
  height: 7%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
