.tree-delivery-page {
  position: relative;
  width: 100%;
  max-width: 1000px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.tree-delivery-page__header {
  position: relative;
  width: 100%;
  height: 5vh;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}

.tree-delivery-page__header__back-button {
  position: absolute;
  left: 50px;
}

.tree-delivery-page__main-content {
  width: 60%;
  margin-top: 5%;
}

.tree-delivery-page__image-box {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: white;
  width: 100%;
  height: fit-content;
  border-radius: 20px;
  margin-bottom: calc(10px + 2vmin);
  padding-top: 3vh;
}

.tree-delivery-page__instagram-button {
  position: relative;
  width: 100%;
  height: 8%;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.tree-delivery-page__feed-button {
  margin-top: 10px;
}

.tree-delivery-page__popup-modal {
  width: 84%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tree-delivery-page__popup-modal_back {
  position: absolute;
  z-index: 500;
  text-align: center;
  background: white;
  color: #182E6A;
  border-radius: 20px;
  padding: calc(17px + 2vmin);
  box-sizing: border-box;
}

.tree-delivery-page__popup-modal_back p {
  margin-top: calc(26px + 2vmin);
}

.tree-delivery-page__popup-modal__title {
  font-size: calc(8px + 2vmin);
  font-weight: 600;
  padding-top: calc(9px + 2vmin);
  padding-bottom: calc(26px + 2vmin);
  border-bottom: solid 1px #DEDEDE;
}

.tree-delivery-page__popup-modal_img {
  width: 100%;
  margin-top: 10%;
}

.tree-delivery-page__popup-modal_txt {
  width: 70%;
  margin-top: 160%;
}

.tree-delivery-page__custom-image {
  width: var(--image-size);
  height: var(--image-size);
}
.tree-delivery-page__tag-texts {
  width: var(--image-size);
  margin-top: 3vh;
  margin-bottom: 3vh;
  color: #182E6A;
}

.tree-delivery-page__button-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}


.tree-delivery-page__share-popup {
  width: 84%;
  position: fixed;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0B3260;
  padding: calc(12px + 2vmin) 0;
  font-weight: 600;
}

.tree-delivery-page__sparkle {
  width: 15px;
}

.delivery-page__image-box-wrap {
  width: 100%;
}

.delivery-page__button-list-wrap {
  width: 100%;
  margin-bottom: 30px;
}

.tree-delivery-page__copy {
  margin-left: 10px;
}