.tree-selection-page {
  position: relative;
  width: 100%;
  max-width: 1000px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.tree-selection-page__header {
  position: relative;
  width: 100%;
  /* height: 50px; */
  height: 5vh;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}
.tree-selection-page__header__back-button {
  position: absolute;
  left: 24px;
}
.tree-selection-page__step-description {
  width: 800px;
  margin-top: 20vh;
}

.tree-selection-page__selections {
  margin-top: 8vh;
  width: 100%;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}
