.selection-page__content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selection-page__content {
  font-size: 1.6rem;
}

.selection-page__content p:last-child {
  font-size: 1.4rem;
  margin-top: 50px;
}

.selection-page__button_list {
  width: 100%;
  padding-bottom: 8vw;
}