.App {
  width: 100%;
  min-height: 100vh;
  /* Full height */
  height: 100%;

  font-size: calc(10px + 2vmin);
  text-align: center;
  color: white;

  background: linear-gradient(180deg, #0E57FF 2%, #00CAFF 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  width: 100%;
  --image-size: 70vw;
}