.App {
  font-size: calc(10px + 2vmin);
  font-weight: 350;
  line-height: 1.5;
  text-align: center;
  color: white;
  font-size: calc(6px + 2vmin);
}

:root {
  width: 100%;
  --image-size: 70vw;
}

.background-wrap {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -100;
  background: linear-gradient(180deg, #0E57FF 2%, #00CAFF 100%);
}